<!DOCTYPE html>
<html>
  <head>
  <title>Quiz/Solution</title>
  <link rel = "stylesheet" type = "text/css" href = "basestyle.css" />
  </head>
  <body>
    <div id = "container">
      <div id = "header">
      <h1>Year 3</h1>
    </div>
      <div id = "content">
        <div id = "nav">
          <ul>
            <p><li><a class = "selected" href = "homepage.html">  Home </a></li></p>
            <p><li><a class = "c3" href = "year3mid.html">  Year 3</a></li></p>
            <p><li><a class = "c4" href = ""> Year 4 </a></li></p>
            <p><li><a class = "c5" href = ""> Year 5 </a></li></p>
            <p><li><a class = "c6" href = ""> Year 6 </a></li></p>
            <p><li><a class = "ctrack" href = ""> Track Progress </a></li></p>
            <p><li><a class = "cgame" href = ""> Breakout </a></li></p>
            <p><li><a class = "ca" href = ""> About us </a></li></p>
          </ul>
        </div>
        <div id = "years">
          <div id = "year3q">
            <h2><a class = "select3q" href = "year3.html"> Quiz </a></h2>
          </div>
          <div id = "year3sol">
            <h2><a class = "select3sol" href = ""> Solution </a></h2>
        </div>
      </div>
        <div id = "footer">
          Copyright &copy; 2016 PiMaticians.
        </div>
  </body>
</html>
